* {
    margin: 0;
    padding: 0;
}

#click {
    background-color: gray;
    border: 2px solid black;
    border-radius: 1vw;
    height: 40vw;
    width: 40vw;
    margin: auto;
    margin-top: 6.5vw;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

#click > h1 {
    padding: 11vw;
    padding-top: 15vw;
    font-size: 5vw;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

#click > h2 {
    padding-left: 1vw;
    font-size: 3vw;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

#click:hover {
    cursor: pointer;
}